@page {
    size: A4;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-size: 4.3mm;
    font-family: 'Roboto condensed', Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a {
    color: #A18B4F;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
    font-size: .72em;
    font-family: Arial, Helvetica, sans-serif;
}

dt {
    grid-column-start: 1;
    font-weight: bold;
}

dd {
    grid-column-start: 2;
    margin-inline-start: 5mm;
    margin-bottom: 2mm;
}

cv-slot {
    display: block;
    width:250mm;
    height:5mm;
    top: 5mm;
    background-color:black;
    border-radius: 1mm;
    position: absolute;
    margin: 3mm auto;
    left: 0;
    right: 0;
    text-align: center;
}

@keyframes print-page{
    0% {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        top: -297mm;
    }
    100% {
        position: relative;
        top: 0;
    }
}

cv-page-holder {
    display: block;
    width: 210mm;
    margin: 10mm auto;
    min-height: 297mm;
    position: relative;
    overflow: hidden;
}

cv-page {
    display: block;
    border-radius: 5px;
    width: 210mm;
    min-height: 297mm;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    animation: print-page ease 5s;
    background-color: #E5E5E7;
    border: 1px #D3D3D3 solid;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }
    cv-page-holder  {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        box-shadow: initial;
        page-break-after: always;
    }
    cv-slot {
        display: none;
    }
}

cv-top {
    display: block;
    height: 70mm;
    background-color: #444245;
    text-align: center;
    position: relative;
}

cv-top cv-top-profile {
    position: relative;
    display: block;
    width: 80mm;
    margin-left: 10mm;
}

cv-top cv-top-profile .name {
    margin: 0;
    padding: 0;
    color: #A18B4F;
    size: 10mm;
    text-align: center;
    font-family:  'Roboto condensed', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}

cv-top cv-top-profile .role {
    margin: 1mm 12mm;
    padding: 1mm 0;
    color: #fff;
    background: #A18B4F;
    size: 7mm;
    text-align: center;
    font-family:  'Roboto condensed', Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

cv-top cv-top-profile #pointer-left {
    width: 20mm;
    height: 8mm;
    top: 23mm;
    left: 3mm;
    position: absolute;
    background: #A18B4F;
}
cv-top cv-top-profile #pointer-left:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 4mm solid #444245;
    border-top: 4mm solid transparent;
    border-bottom: 4mm solid transparent;
}
cv-top cv-top-profile #circle-photo {
    height: 35mm;
    border: 1mm solid #A18B4F;
    border-radius: 50%;
    margin-top: 5mm;
}

cv-top cv-top-profile #pointer-right {
    width: 20mm;
    height: 8mm;
    top: 23mm;
    right: 3mm;
    position: absolute;
    background: #A18B4F;
}
cv-top cv-top-profile #pointer-right:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 4mm solid #444245;
    border-top: 4mm solid transparent;
    border-bottom: 4mm solid transparent;
}

cv-top cv-top-description {
    display: block;
    color: #D3D3D3;
    float: right;
    width: 90mm;
    margin-right: 10mm;
    margin-top: 5mm;
    text-align: justify;
}

cv-top cv-top-description h3 {
    font-family:  'Roboto condensed', Arial, Helvetica, sans-serif;
}

cv-main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3mm;
    text-align: left;
}

cv-main-grid cv-main-column {
    margin: 0 8mm;
}

cv-main-grid h4 {
    color: #A18B4F;
    background: #E5E5E7;
    font-family:  'Roboto condensed', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin: 5mm 0 4mm 0;
}

cv-main-grid h4:before {
    display: block;
    float: right;
    margin-top: 2.15mm;
    border-top: 0.3mm solid #A18B4F;
    width: 40%;
    content: "";
}


cv-main-grid h4.long:before {
    width: 20%;
}

cv-main-grid h4 i {
    background: #A18B4F;
    color: #fff;
    padding: 1.5mm 2mm;
    border-radius: 50%;
    margin-right: 2mm;
}

cv-main-grid h4 span {
    border-right: 0.5mm solid #A18B4F;
    padding: 2mm 0;
    margin: 0 1mm;
}

cv-main-grid cv-axis {
    display: block;
    position:relative;
    border-left: 0.4mm solid #A18B4F;
    padding-left: 4mm;
}

cv-main-grid cv-axis::after {
    content: '';
    width: 0;
    height: 1mm;
    border-left: 1.5mm solid transparent;
    border-right: 1.5mm solid transparent;
    border-bottom: 3mm solid #A18B4F;
    position: absolute;
    left: -1.75mm;
    top: -3mm;
}

cv-main-grid cv-entry {
    display: block;
    margin: 4mm 0;
}

cv-main-grid cv-entry-date {
    font-size: .7em;
    color: #444245;
    float: right;
}

cv-main-grid cv-entry-h1 {
    display: block;
    font-size: .83em;
    margin: 0;
    font-weight: bold;
}

cv-main-grid cv-entry-h2 {
    display: block;
    font-size: .67em;
    margin: 0;
    font-weight: bold;
}

cv-main-grid cv-entry-description {
    display: block;
    font-size: .72em;
    margin: 1mm 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

cv-main-grid cv-entry-description ul {
    padding: 0;
    margin: 0 0 0 15px;
    list-style-type: circle;
}

cv-tag {
    color: #A18B4F;
    font-weight: bold;
}